<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meu primeiro jogo multiplayer</title>
    <link rel="stylesheet" href="./assets/css/main.css">
</head>
<body>
    <canvas id="screen" width="10" height="10"></canvas>
    <table id="score-table">
    </table>
    <script src="./assets/js/bundle.js"></script>
</body>
</html>